@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-black text-[14px] bg-sky-100
  }

  label {
    @apply flex flex-col !normal-case
  }

  input[type],
  select {
    @apply rounded text-[14px] border-gray-300 placeholder:opacity-50
  }

  h2 {
    @apply text-3xl font-bold
  }

}

@layer components {
  .button-green {
    @apply bg-[#05D3E4] text-white p-2 rounded-md shadow hover:shadow-lg hover:shadow-[#05D3E4] transition-all disabled:bg-[#05D3E4]/50 disabled:shadow-none
  }

  .button-red {
    @apply bg-red-700 text-white p-2 rounded-md shadow hover:shadow-lg hover:shadow-red-400 transition-all disabled:bg-red-500/50 disabled:shadow-none
  }

  .add-btn {
    @apply bg-green-500 w-5 h-5 flex justify-center items-center font-bold text-white rounded leading-[0] hover:ring-[1px] hover:ring-sky-500 active:scale-90 focus:outline-none
  }

  .sub-btn {
    @apply bg-red-500 w-5 h-5 flex justify-center items-center font-bold text-white rounded leading-[0] hover:ring-[1px] hover:ring-sky-500 active:scale-90 focus:outline-none
  }
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: lightgray;
}

::-webkit-scrollbar-thumbhover {
  background: indigo;
}


.main-container {
  max-width: 1200px;
  margin-inline: auto;
}

@media print and (width < 1900px) { 
  .logo-bg {
    background-image: url(./assets/logo.jpg);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 10px 5px;
  }
}